.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 61.625rem;
  width: 100%;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 14px;
}

.Header__logout {
  border: 0;
  background: transparent;
  text-decoration: underline;
  padding-bottom: 0;
  padding-top: 0;
  color: #000;
  outline: 0;
}
.Header__logout:hover {
  text-decoration: none;
}

.Header__list-toggle {
  background: #efefef;
  padding: 0.25em 0.5em;
  font-size: 12px;
  text-decoration: none;
  margin-left: 18px;
  border: 0;
}

.brandmark {
  display: flex;
  text-decoration: none;
}

.brandmark h1 {
  line-height: 1;
  font-size: 22px;
}
.brandmark h1 .heart {
  vertical-align: top;
}

.heart {
  font-size: 10px;
}
.brandmark p {
  font-size: 12px;
}
